!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('.title')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_tag type: 'application/javascript' do
      I18n.defaultLocale = "#{I18n.default_locale}"
      I18n.locale = "#{I18n.locale}"
    = javascript_pack_tag 'locale_switcher', data_turbolinks_track: :reload
  %body
    %header.main
      %aside
        = form_tag store_index_path, class: 'locale' do
          = select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
                       onchange: 'this.form.submit()'
          = submit_tag 'submit', id: 'submit_locale_change'
      = image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf'
      %h1= @page_title

    %section.content
      %nav.side_nav
        - if @cart
          #cart.carts
            = render @cart

        %ul
          %li
            %a{ href: '/' }= t('.home')
          %li
            %a{ href: '/questions' }= t('.questions')
          %li
            %a{ href: '/news' }= t('.news')
          %li
            %a{ href: '/contact' }= t('.contact')
          %li
            .time= Time.current.strftime('%H:%M:%S')

        - if session[:user_id]
          %nav.logged_in_nav
            %ul
              %li= link_to t('.orders'), orders_path
              %li= link_to t('.products'), products_path
              %li= link_to t('.users'), users_path
              %li= button_to t('.logout'), logout_path, method: :delete

      %main{ class: controller.controller_name }
        - if notice
          %aside#notice= notice

        = yield
